body{
    font-family: 'Poppins', sans-serif;

}
.banner{
    background-image: url(slider4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    
}
.skills-padding{
    padding: 70px, 0;
}